<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.overture.mcggmodmenu">

    <!-- overlay mengambang di atas game -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- tulis /sdcard/mcggmod.conf di Android 11+ -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- Android 8-10 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- service menu tetap hidup di latar saat game dibuka -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="MCGG Mod Menu"
        android:requestLegacyExternalStorage="true"
        android:theme="@android:style/Theme.Material.Light">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".OverlayService"
            android:exported="false" />
    </application>
</manifest>